* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.disable-selection {
  -webkit-touch-callout: none; /* iOS Safari                           */
  -webkit-user-select: none; /* Safari                               */
  -khtml-user-select: none; /* Konqueror HTML                       */
  -moz-user-select: none; /* Firefox w przeszłości (stare wersje) */
  -ms-user-select: none; /* Internet Explorer (>=10) / Edge      */
  user-select: none; /* Aktualnie wspierane przez:           */
  /* Chrome, Opera and Firefox            */
}

.sudoku {
  display: flex;
  justify-content: center;
  color: #17683a;
  margin: 1.2rem;
  position: relative;
}
.sudoku__alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: rgba(23, 104, 58, 0.9);
  border-radius: 0.6rem;
  color: #fff;
  padding: 1.2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.4s;
}
.sudoku__alert.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

/* MAP ------------------------------------------------ */
.map {
  background-color: #17683a;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 0.1rem;
  padding: 0.6rem;
  height: 26rem;
  width: 26rem;
}
.map__cell {
  background-color: #e9f7ef;
}

.map__cell::before {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty:hover {
  background-color: #bee7cf;
  color: #ffffff;
  cursor: pointer;
}

.map__cell.o::before,
.map__cell.x::before {
  color: #104626;
  transition: all 0.4s;
}
.map__cell.winner::before {
  color: #ff0000;
}
.map__cell.o::before,
.map__cell.o-shadow::before {
  content: "O";
}
.map__cell.x::before,
.map__cell.x-shadow::before {
  content: "X";
}

/* MENU -------------------------------------- */
.sudoku__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 0.1rem solid #17683a;
  border-bottom-left-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
  gap: 2.4rem;
  padding: 0.1rem;
}
.menu__players {
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.players__player-name.active {
  font-weight: 600;
}

.menu__log {
  overflow-y: scroll;
  height: 10rem;
  width: 100%;
  padding-left: 0.6rem;
}
.menu__exit {
  padding: 0.6rem 1.2rem;
  background-color: #104626;
  border-radius: 0.6rem;
  border: none;
  color: #e9f7ef;
  cursor: pointer;
}
.menu__exit:active {
  background-color: #17683a;
}

/* width */
.menu__log::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
.menu__log::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.menu__log::-webkit-scrollbar-thumb {
  background: #17683a;
}

/* Handle on hover */
.menu__log::-webkit-scrollbar-thumb:hover {
  background: #104626;
}
